@use "@angular/material" as mat;

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0px;
  html {
    width: 100%;
  }
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
.mat-app-background {
  @include mat.toolbar-overrides(
    (
      container-background-color: rgb(18, 18, 154),
      container-text-color: white,
    )
  );
}
